$background: #333;
$keyboard-bg: rgb(79,75,72); 
$key-letter: rgb(204,213,217);
$key-color-1: rgb(16,16,16);
$key-color-2: rgb(31,31,31);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body {
    background-color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyboard {
    position: relative;
    min-width: 400px;
    min-height: 300px;
    background-color: $keyboard-bg;
    padding: 0.6em;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 10px 70px rgba(0, 0, 0, 0.25),
    inset -5px -5px 15px rgba(0, 0, 0, 0.5),
    inset 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}
.form-row {
    display: flex;
}
.keyboard-key {
    cursor: pointer;
    width: 4em;
    height: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.4em;
    padding: 0.1em;
    font-size: 0.7em;  
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #FFF, rgb(204, 196, 196));
    box-shadow: inset -8px 0 8px rgba(255, 255, 255, 0.15), 
    inset 0 -8px 8px rgba(255, 255, 255, 0.25),
    0 0 0 2px rgba(255, 255, 255, 0.75),
    10px 20px 25px rgba(255, 255, 255, 0.4); 

    &.key-color {
        transition: 0.5s ease all; 
        background: linear-gradient(90deg, rgba(25, 255, 255, 0.75), rgba(25, 255, 255, 0.15));
        box-shadow: inset -8px 0 8px rgba(25, 255, 255, 0.15), 
                inset 0 -8px 8px rgba(55, 255, 255, 0.25), 
                0 0 0 2px rgba(25, 255, 255, 0.75), 
                10px 20px 25px rgba(55, 255, 255, 0.4);

        &>.key-box {
            color: rgba(25, 255, 255, 0.75);
        }
    }
}
.keyboard-key .key-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $key-letter;
    width: 3.2em;
    height: 3.5em;
    border: none;
    border-radius: 5px;
    padding: 0.2em;
    background: linear-gradient(90deg, $key-color-1, $key-color-2);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), 
    inset 0 -8px 8px rgba(0, 0, 0, 0.25),
    0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4); 

    
}
.text-sm {
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
}
.space-key {
    margin-right: 5em;
}
.space-key-mdm {
    margin-right: 2.9em;
}
.space-key-lg {
    margin-right: 7.9em;
}
.key-tab {
    width: 6.5em;
    &>.key-box {
        width: 5.7em;
        &>.box-top {
            font-size: 1.5em;
        }
    }
}
.key-delete {
    width: 8.9em;
    &>.key-box {
        width: 7.9em;
        &>.box-top {
            font-size: 1.5em;
        }
    }
} 
.key-intro {
    width: 6.5em;  
    /*clip-path: polygon( 0 0, 
                        100% 0, 
                        100% 100%,  
                        30% 100%, 
                        30% 50%, 
                        0% 50%); */
    &>.key-box {
        width: 5.5em;
        justify-content: center; 
    }
} 
.key-bloq-mayus {
    width: 8.7em;
    &>.key-box {
        width: 7.8em;
        &>.box-top {
            font-size: 1.5em;
        }
    }
}
.key-github {  
    &>.key-box {  
        justify-content: center;
        &>.box-top {
            font-size: 1.5em;
        }
    }
}
.key-md {
    width: 5.2em;
    &>.key-box {
        width: 4.3em;  
    }
}
.key-shif-1 { 
    width: 6.7em;
    &>.key-box {
        width: 5.8em;  
        &>.box-top {
            font-size: 1.5em;
        }
    } 
}
.key-shif-2 {
    width: 10.7em;
    &>.key-box {
        width: 9.8em;  
        &>.box-top {
            font-size: 1.5em;
        }
    }
}
.key-windows {
    &>.key-box {   
        &>.box-top {
            font-size: 1.5em;
        }
    }
}
.key-space { 
    width: 29em;
    &>.key-box {
        width: 28.2em;
        &>.box-top {
            font-size: 1.5em;
        }
    } 
}
.margin-top {
    margin-top: 0.7em;
}  
.translate-y {
    transform: translateY(-3.4em);
}  